html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
input,
textarea {
  font-family: Arial;
}

.container {
  color: #cac8ee;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.chatheader {
  background: #5d5d8a;
  box-shadow: 0px 6px 5px -2px rgba(225, 225, 225, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  max-height: 65px;
  padding: 18px 16px;
}
.userinfo {
  align-items: center;
  display: flex;
}
.username {
  margin-right: 10px;
}
.status {
  align-items: center;
  display: flex;
}
.options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 15%;
}
.chatheader .options svg {
  cursor: pointer;
}
/* .chatroomcontainer {
  height: calc(100vh - 125px);
  width: 100%;
}
@media screen and (max-width: 510px) {
  .chatroomcontainer {
    width: 100%;
    height: 100%;
  }
} */
.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 125px);
  width: 100%;
}
.chatroom.choose {
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.threadcontainer {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  max-height: 100%;
}
.threadcontainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cac8ee;
}
.threadcontainer::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.threadcontainer::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.threadcontainer .thread {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #b3b2ca;
  background: #dcddf5;
}
.messagecontainer {
  display: flex;
  justify-content: flex-start;
  min-height: 50px;
  margin: 10px 15px;
  animation: 0.65s ease-out 0s show;
}
.messagecontainer .time {
  order: 1;
}
.messagecontainer .data {
  order: 2;
  height: 100%;
  margin-left: 25px;
}
.messagecontainer .name {
  font-size: 0.65em;
  margin-top: 5px;
  text-align: right;
}
.messagecontainer .message {
  background: #fff;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-sizing: border-box;
  color: #b3b2ca;
  height: 100%;
  padding: 10px 15px;
  position: relative;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.messagecontainer .message::before {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #fff;
  border-style: solid;
  border-top-color: #fff;
  border-width: 4px;
  content: '';
  height: 0;
  left: -7px;
  position: absolute;
  top: 0;
  width: 0;
}
.messagecontainer.right {
  text-align: right;
  justify-content: flex-end;
}
.messagecontainer.right .time {
  order: 2;
  margin-left: 25px;
}
.messagecontainer.right .data {
  margin-left: 0;
  order: 1;
}
.messagecontainer.right .name {
  display: none;
}
.messagecontainer.right .message {
  background: #89a1fc;
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 5px;
}
.messagecontainer.right .message::before {
  border-top-color: #89a1fc;
  border-left-color: #89a1fc;
  border-right-color: transparent;
  left: auto;
  right: -7px;
}
.typinguser {
  text-align: right;
  margin: 10px 15px;
}
.messageinput {
  background: white;
  color: #484d79;
  box-sizing: border-box;
  height: 10vh;
  max-height: 65px;
}
.messageinput .messageform {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formcontrol {
  background-color: #89a1fc;
  padding-top: 24px;
  padding-bottom: 24px;
  resize: none;
  padding-left: 15px;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  border: none;
  font-family: Arial;
  font-size: 15px;
}
.messageinput .messageform .formcontrol::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cac8ee;
}
.messageinput .messageform .formcontrol::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.messageinput .messageform .formcontrol::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.messageinput .messageform .formcontrol:focus {
  outline: none;
}
.messageinput .messageform .send {
  width: 20%;
  box-sizing: border-box;
  font-size: 1.25em;
  text-align: center;
  border: none;
  height: 100%;
  color: #fff;
  background: #3e3e5e;
  transition: all 0.35s ease-out;
}
.messageinput .messageform .send:disabled {
  opacity: 0.2;
  background: #5d5d8a;
}
